body {
  text-align: center;
  margin: 0;
}
a {
  text-decoration: none;
}

h1 {
  font-family: 'Raleway', sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 45px;
  margin: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color: #0d2c40;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

p {
  font-family: 'Droid Serif', serif;
  line-height: 26px;
  font-size: 18px;
}

header {
  background-color: #f15b31;
  color: #ffffff;
  padding: 30px 20px;
}

nav {
  background-color: #00a6b3;
  color: #ffffff;
  padding: 20px 0;
}

nav a {
  color: inherit;
  margin: 0 20px;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  border-bottom: 2px solid white;
}

main {
  width: 850px;
  margin: 35px auto;
}

footer {
  text-transform: uppercase;
  padding: 0 20px;
  background-color: #0d2c40;
  color: white;
  font-size: 14px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.page-anchor {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 18px;
}

.game-cards img {
  margin: 40px 8px 0;
}

.copyright,
.message {
  font-family: 'Raleway', sans-serif;
  font-family: 14px;
}

.copyright {
  float: left;
}

.message {
  float: right;
}

.name {
  color: #f15b31;
  font-weight: 700;
}

.social-media {
  text-decoration: none;
  font-family: 'Droid Serif', serif;
  color: #f15b31;
  margin: 0 20px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: ' ';
  clear: both;
  height: 0;
  font-size: 0;
}
